.backcolor {
  position: relative; }
  .backcolor .backIcon {
    margin-top: 10px;
    margin-left: 10px; }
  .backcolor .block1 {
    margin-left: 50px;
    margin-right: 50px; }
    .backcolor .block1 .designerPhoto {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px; }
    .backcolor .block1 .nameAndDescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      text-align: center;
      line-height: normal; }
      .backcolor .block1 .nameAndDescription .description {
        padding-top: 20px;
        padding-bottom: 20px; }
  .backcolor .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px; }
    .backcolor .social .socialPic {
      margin-left: 5px;
      margin-right: 5px; }
  .backcolor .numberListIpad {
    display: flex;
    flex-direction: column;
    color: white; }
    .backcolor .numberListIpad li {
      display: flex;
      padding-top: 3px;
      padding-bottom: 3px; }
      .backcolor .numberListIpad li p {
        width: 150px;
        padding-left: 20px;
        padding-right: 20px; }

.numberListIphone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #eaeaea 0.3px solid; }
  .numberListIphone .back {
    border-left: 0.5px lightgrey solid; }
  .numberListIphone .firstone, .numberListIphone .middle, .numberListIphone .lastone {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .numberListIphone .firstone p, .numberListIphone .middle p, .numberListIphone .lastone p {
      margin-top: 2px;
      margin-bottom: 2px; }

.portfolio .portfolioTitle {
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.row {
  margin-right: 0;
  margin-left: 0; }

@media only screen and (min-width: 768px) {
  .designerInformation .backcolor .block1 .nameAndDescription {
    align-items: flex-start; }

  .designerInformation .backcolor .block1 .nameAndDescription {
    text-align: left; }

  .designerInformation .backcolor .block1 .designerPhoto {
    justify-content: flex-end;
    margin-top: 0px; }

  .designerInformation .backcolor .block1 .right .social {
    justify-content: space-between;
    margin-left: 10px;
    width: 150px; }

  .backcolor .block1 .nameAndDescription .description {
    width: 138%; } }
@media only screen and (min-width: 1024px) {
  .backcolor .block1 {
    margin-left: 0px;
    margin-right: 0px; }

  .numberListIphone .firstone .firstOneGap {
    margin-right: 7px; }

  .numberListIphone .lastone {
    align-items: center; }

  .backcolor .block1 .nameAndDescription .description {
    width: 120%; } }
@media only screen and (max-width: 768px) {
  .backcolor .block1 {
    margin-left: 10px;
    margin-right: 10px; }

  .white {
    text-align: left; }

  .backcolor .social {
    width: 280px;
    justify-content: space-around;
    margin: 0 auto; }

  .backcolor .block1 .designerPhoto {
    margin-top: 30px;
    padding-bottom: 0px; } }

/*# sourceMappingURL=designerStyle.css.map */
