/*@CONNORS CODE START*/
  
.landing-section{
  width: 100%;
  height: 100vh;
  position: relative;
}

.names{
  position: relative;
  top: 15vh;
}

.videoBackground {
  display: none;
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  max-width: 100%;
  overflow: hidden;
}

.videoForeground,
.videoBackground iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .videoForeground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .videoForeground { width: 300%; left: -100%; }
}

.hide{
  display: none;
}

.show{
  display: block;
}

/*@CONNORS CODE END*/

.menu-button-text{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;

}

.navbar-toggler{
  border:none;
  position: fixed;
  right:20px;
  top:30px;
  padding: .25rem .25rem;
}

.navbar-custom {
  padding: 0.5rem 0.75rem;
}

.mobile-header{
  text-transform: uppercase;
  position: fixed;
  left: 50%;
  top:38px;
  transform: translateX(-50%);
  font-size:1.3rem;
  font-family: 'Open Sans', sans-serif;
}

.names-desktop{
  width:340px;
  top:23vh;
}

.names-mobile{
    width: 100%;
    position: absolute;
    top: 63px;
    margin: 0;
    padding: 0;
    height: calc(100vh - 60px);
}

.name,
.name a{
  width:100%;
  text-align: center;
}

img.logo {
  width: 45px;
}


@media only screen and (min-width: 990px) {
  
  .menu-button-text,
  .mobile-header{
    display: none;
  }

  .videoBackground {
    display: block;
  }

  .name{
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 990px) {

  .container{
    width:100%;
    margin:0;
    padding: 0;
    max-width: 100%;
  }

  .name{
    margin-bottom: 0;
    height: 20%;
  }

  .nameLink{
    color: #fff;
  }

 .ludmila{
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 168, 188, 0.5), rgba(0, 168, 188, 0.5)), url('../images/project1.png');
  background-size: cover;
  background-position: center;
 }

 .ernest{
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 168, 188, 0.5), rgba(0, 168, 188, 0.5)), url('../images/project2.png');  background-size: cover;
  background-position: center;
 }

 .arthur{
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 168, 188, 0.5), rgba(0, 168, 188, 0.5)), url('../images/project3.jpg');  background-size: cover;
  background-position: center;
 }

 .denys{
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 168, 188, 0.5), rgba(0, 168, 188, 0.5)), url('../images/project4.jpg');  background-size: cover;
  background-position: center;
 }

 .vlad{
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 168, 188, 0.5), rgba(0, 168, 188, 0.5)), url('../images/project5.png');  background-size: cover;
  background-position: center;
 }

}